<app-header></app-header>
<div id="home-body">
    <div class="col-md-10 loginForm" >
        <div *ngIf="error" class="alert alert-danger" role="info">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errormsg}}
        </div>
         
        <div class="card border-info" >
            <div class="card-header">
              Welcome to Fashionista <button class="btn btn-info" id="right" (click)=login()>Login</button>
            </div>
                <div class="card-body">
                  <h4 class="card-title">Reset Password</h4> 
                  <form [formGroup]="resetForm" > 
                    <div class="form-group">
                        <label for="resemail">Email<span class="imp">*</span></label>
                        <input type="resemail" formControlName="resemail" class="form-control" placeholder="name@mail.com">
                        <div class="alert alert-danger" *ngIf="resemail.touched && resemail.invalid">
                            <p *ngIf="resemail.errors.required">Email is mandatory</p>
                            <p *ngIf="resemail.errors.pattern">Please match email pattern</p>
                        </div>
                     </div>
                            
                        </form>
                        <button class="btn btn-info" (click)=forgotPassword()>Email me </button>&nbsp;
                </div>
        </div>
            
    </div>
</div>
