<app-user-header></app-user-header>
<div class="container">
    <div id="admin-left" class="col-md-4">
        <app-side-menu ></app-side-menu>
    </div>
    <div id="admin-right" class="col-md-8">
        
        <div class="card border-info" *ngIf="isView">
            <div class="card-header">
              {{name}}
            </div>
            <div class="card-body">
              <h4 class="card-title">Residential Information</h4>
              <p class="card-text"><b>Street: </b>{{user.street}}</p>
              <p class="card-text"><b>City: </b>{{user.city}}</p>
              <p class="card-text"><b>State: </b>{{user.state}}</p>
              <p class="card-text"><b>Country: </b>{{user.country}}</p>
              <p class="card-text"><b>Zip: </b>{{user.zip}}</p>
              <button class="btn btn-info" (click)=viewUpdate()>Update </button>&nbsp;
              
            </div>
          </div>
          
            <div class="card border-info" *ngIf="isEdit">
                <div class="card-header">
                  {{name}}<button class="btn btn-info right" (click)=viewOld()>View Address  </button>
                </div>
                
                <div class="card-body">
                  <h4 class="card-title">Residential Information</h4>
                  <form [formGroup]="updateAddressForm" > 
                            <div class="form-group">
                                <label for="street">Street<span class="imp">*</span></label>
                                <input type="text" formControlName="street" class="form-control" placeholder="william street">
                                <div class="alert alert-danger" *ngIf="street.touched && street.invalid">
                                    <p *ngIf="street.errors.required">Street Name is mandatory</p>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city">City<span class="imp">*</span></label>
                                <input type="text" formControlName="city" class="form-control" placeholder="Newark">
                                <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                                    <p *ngIf="city.errors.required">City Name is mandatory</p>
                                    <p *ngIf="city.errors.pattern">City Name should contain only characters</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="state">State<span class="imp">*</span></label>
                                <input type="text" formControlName="state" class="form-control" placeholder="NJ">
                                <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
                                    <p *ngIf="state.errors.required">State Name is mandatory</p>
                                    <p *ngIf="state.errors.pattern">State Name should contain only characters</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country">Country<span class="imp">*</span></label>
                                <input type="text" formControlName="country" class="form-control" placeholder="USA">
                                <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                                    <p *ngIf="country.errors.required">Country Name is mandatory</p>
                                    <p *ngIf="country.errors.pattern">Country Name should contain only characters</p>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="zip">Zip Code<span class="imp">*</span></label>
                                <input type="number" formControlName="zip" class="form-control">
                                <div class="alert alert-danger" *ngIf="zip.touched && zip.invalid">
                                    <p *ngIf="zip.errors.required">Zip Code is mandatory</p>
                                    <p *ngIf="zip.errors.pattern">Enter a valid Zip Code</p>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)=updateAddress()>Update </button>&nbsp;
                </div>
            
          </div>

          <div ng-If="isSuccess" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Update Contact Details</h5>
                </div>
                <div class="modal-body">
                 Your Contact Details has been  Updated!!!!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="viewOld()" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
   
    </div>
</div>
